@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');

*::-webkit-scrollbar {
  display: none;
} 
*{
  margin : 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Rajdhani', sans-serif;
}