:root::before{
    content:'';
    position:absolute;
    width:100vw;
    height:100vh;
    background-size: 100%;
    left:0;
    top:0;
    background-image: url('./pics/Hero.gif');
    padding-bottom: 1%;
  }
  
  .centered{
    position:absolute;
    left:50vw;
    top:50vh;
    transform:translateX(-50%) translateY(-50%);
    text-align:center;
  }
  
  
  
  .stranger-things{
    filter:url(#bevel) url(#bloom);
  }
  
  .stranger-things hr{
    border:none;
    background-color:#0ddb3a;
    height:3px;
  }
  
  .stranger-things hr.bottom-line{
    margin-top:30px;
    margin-bottom:-30px;  
    width:12%;
    position:absolute;
  }
  
  .stranger-things hr.bottom-line.right{
    right:0;
    
  }

  .eighties{
    color:#0dd4db;
    font-size:50pt;
    font-family:'Eighties Horror';
    line-height:1em;
    letter-spacing:3px;
  }
  
  .eighties.line1{
    font-size:70pt;
    letter-spacing:4px;
    justify-content: center;
  }
  
  .eighties.line2 {
    font-size:2.5rem;
    vertical-align:middle;
    line-height:1;
  }

  .box {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
  }
  
  .box span {
    display: block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #ced11a;
    border-left: 1px solid #d3c82d;
    transform: rotate(90deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .box span:nth-child(1)
  {
    animation-delay: -0.2s;
  }
  
  .box span:nth-child(2)
  {
    animation-delay: -0.4s;
  }
  
  @keyframes animate
  {
    0%
    {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
    50%
    {
      opacity: 1;
    }
    100%
    {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  }

  .box2 {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
  }
  
  .box2 span {
    display: block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #ced11a;
    border-left: 1px solid #d3c82d;
    transform: rotate(90deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .box2 span:nth-child(1)
  {
    animation-delay: -0.2s;
  }
  
  .box2 span:nth-child(2)
  {
    animation-delay: -0.4s;
  }
  
  @keyframes animate
  {
    0%
    {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
    50%
    {
      opacity: 1;
    }
    100%
    {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  }

  .navBox {
    position: fixed;
}